[submodule "external/frida/frida-java"]
	path = external/frida/frida-java
	url = git@github.com:frida/frida-java.git
        ignore = dirty

[submodule "external/zlib/source"]
	path = external/zlib/source
	url = git@github.com:jonforshort/external-zlib.git
	ignore = dirty

[submodule "external/minizip/source"]
	path = external/minizip/source
	url = git@github.com:jonforshort/minizip.git
	ignore = dirty

[submodule "external/wasm/emsdk"]
	path = external/wasm/emsdk
	url = git@github.com:emscripten-core/emsdk.git
	ignore = dirty

[submodule "external/wasm/emscripten"]
	path = external/wasm/emscripten
	url = git@github.com:emscripten-core/emscripten.git
	ignore = dirty

[submodule "external/googletest/source"]
	path = external/googletest/source
	url = git@github.com:google/googletest.git
	ignore = dirty

[submodule "external/openssl/source"]
	path = external/openssl/source
	url = git@github.com:jonforshort/openssl.git
	ignore = dirty

[submodule "external/spdlog/source"]
	path = external/spdlog/source
	url = git@github.com:gabime/spdlog.git
	ignore = dirty

[submodule "external/pugixml/source"]
	path = external/pugixml/source
	url = git@github.com:zeux/pugixml.git
        ignore = dirty

[submodule "external/boost/source"]
	path = external/boost/source
	url = git@github.com:jonforshort/external-boost.git
        ignore = dirty

[submodule "external/botan/source"]
	path = external/botan/source
	url = git@github.com:jonforshort/botan.git
        ignore = dirty

[submodule "external/libpcap/source"]
	path = external/libpcap/source
	url = git@github.com:jonforshort/libpcap.git
        ignore = dirty

[submodule "external/pcapplusplus/source"]
        path = external/pcapplusplus/source
        url = git@github.com:jonforshort/PcapPlusPlus.git
        ignore = dirty

[submodule "external/lwip/source"]
	path = external/lwip/source
	url = git://git.savannah.gnu.org/lwip.git
        ignore = dirty

[submodule "external/smoltcp"]
	path = external/smoltcp
	url = git@github.com:smoltcp-rs/smoltcp.git
        ignore = dirty
