[submodule "external/frida/frida-java"]
	path = external/frida/frida-java
	url = https://github.com/frida/frida-java.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://www.github.com/thejunkjon/external-zlib.git
