[submodule "external/frida/frida-java"]
	path = external/frida/frida-java
	url = https://github.com/frida/frida-java.git

[submodule "external/zlib/source"]
	path = external/zlib/source
	url = https://github.com/thejunkjon/external-zlib.git
	ignore = dirty

[submodule "external/minizip/source"]
	path = external/minizip/source
	url = https://github.com/thejunkjon/minizip.git
	ignore = dirty

[submodule "external/wasm/emsdk"]
	path = external/wasm/emsdk
	url = https://github.com/emscripten-core/emsdk.git
	ignore = dirty

[submodule "external/wasm/emscripten"]
	path = external/wasm/emscripten
	url = https://github.com/emscripten-core/emscripten.git
	ignore = dirty

[submodule "external/googletest/source"]
	path = external/googletest/source
	url = https://github.com/google/googletest.git
	ignore = dirty

[submodule "external/openssl/source"]
	path = external/openssl/source
	url = https://github.com/thejunkjon/openssl.git
	ignore = dirty