#header {
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
}

#headerLeft {
	float: left;
	height: 100%;
	width: 320px;
}

#headerMiddle {
	height: 100%;
	margin-left: 320px;
	margin-right: 100px;
}

#headerRight {
	float: right;
	height: 100%;
	width: 100px;
}

#headerLogo {
	float: left;
	height: 100px;
	margin: 0px 15px 15px 0px;
}

#githubLogo {
	float: right;
	height: 32px;
	padding: 10px;
}

.titleText {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	font-size: xx-large;
	font-weight: bolder;
}

hr {
	border: none;
	border-top: 1px dotted darkgray;
}
