#header {
	height: 50px;
	margin-bottom: 50px;
}

#headerLeft {
	float: left;
	width: 90%;
	height: 100%;
}

#headerRight {
	float: right;
	width: 10%;
	height: 100%;
}

#headerLogo {
	float: left;
	height: 100px;
	margin: 0px 15px 15px 0px;
}

#githubLogo {
	float: right;
	height: 32px;
	padding: 10px;
}

#titleText {
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
	font-size: x-large;
	font-weight: bolder;
}

#inputFileButton {
	vertical-align: top;
}
