<div id="header">

    <div id="headerLeft">
        <img id="headerLogo" src="assets/img/android-introspection-logo.png" />
        <div style="padding-top: 10px;">
            <p id="titleTextAndroid">Android</p>
            <p id="titleTextIntrospection">Introspection</p>
        </div>
    </div>

    <div id="headerRight">
        <a href="https://www.github.com/thejunkjon/android-introspection">
            <img id="githubLogo" src="assets/img/github-logo.png" />
        </a>
    </div>

    <div id="headerMiddle">
        <div id="inputFileDropZone" (appDropZone)="onDrop($event)" appDropZone (fileDrop)="onFileDropped($event)">
            <input id="inputFileButton" type="file" accept="application/vnd.android.package-archive"
                (change)="onInputChanged($event)" />
        </div>
    </div>

</div>

<hr>

<div style="clear: both;"></div>

<div [hidden]="!isApkValid">

    <mat-tab-group>

        <mat-tab label="Summary">

        </mat-tab>

        <mat-tab label="Manifest">

        </mat-tab>

        <mat-tab label="Permissions">

        </mat-tab>

        <mat-tab label="Assets">

        </mat-tab>

        <mat-tab label="Contents">

            <mat-table [dataSource]="contents" class="mat-elevation-z8">

                <!-- File Path Column -->
                <ng-container matColumnDef="path">
                    <mat-header-cell *matHeaderCellDef>path</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.path}} </mat-cell>
                </ng-container>

                <!-- File Type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>type</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

        </mat-tab>
    </mat-tab-group>

</div>